<app-nav></app-nav>
<main role="main" class="container">

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div id="spinner-container" *ngIf="loading else loaded">
      <mat-spinner style="align-content: center; height: 5%; alignment: center"></mat-spinner>
    </div>
    <ng-template #loaded>
      <table id="tableSortExample" mdbTable class="z-depth-1" *ngIf="items">
        <thead>
        <tr>
          <th [mdbTableSort]="items" sortBy="name">Name</th>
          <th>Tipo</th>
          <th>Autor</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let el of items; let i = index">
          <td>
            <a [routerLink]="['/itemsdetail', el.uuid]">{{el.name}}</a>
          </td>
          <td>
            <div *ngFor="let eli of items[i].metadata; let j = index">
              <div *ngIf="eli.key === 'dc.type'">
                {{eli.value}}
              </div>
            </div>
          </td>
          <td>
            <div *ngFor="let eli of items[i].metadata; let j = index">
              <div *ngIf="eli.key === 'dc.creator' || eli.key === 'dc.contributor.author'">
                {{eli.value}}
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-template>
    <div>
      <button mdbBtn type="button" color="primary" mdbWavesEffect>
        <mdb-icon fas icon="arrow-left" class="mr-1"></mdb-icon>
      </button>
      <button mdbBtn type="button" color="default" mdbWavesEffect>
        <mdb-icon fas icon="arrow-right" class="ml-1"></mdb-icon>
      </button>
    </div>
  </div>


</main>
