<main role="main" class="container">

  <div class="my-3 p-3 bg-white rounded shadow-sm" *ngIf="items">
    <table id="tableSortExample" mdbTable class="z-depth-1">
      <thead>
      <tr>
        <th [mdbTableSort]="items" sortBy="uuid">UUID</th>
        <th [mdbTableSort]="items" sortBy="name">Name</th>
        <th [mdbTableSort]="items" sortBy="handle">Handle</th>
        <th [mdbTableSort]="items" sortBy="type">Type</th>
      </tr>
      <!--      <tr>-->
      <!--        <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="items" [sortBy]="headElements[i]">{{head | titlecase}}-->
      <!--      </tr>-->
      </thead>
      <tbody>
      <tr *ngFor="let el of items; let i = index">
        <!--      <tr mdbTableCol *ngFor="let el of items">-->
        <th scope="row">{{el.uuid}}</th>
        <td>
          <a [routerLink]="['/itemsdetail', el.uuid]">{{el.name}}</a>
        </td>
        <td>{{el.handle}}</td>
        <td>{{el.type}}</td>
      </tr>
      </tbody>
    </table>
    <div>
      <!--      <a [routerLink]="{actualPage: }">-->
      <button mdbBtn type="button" color="primary" mdbWavesEffect>
        <mdb-icon fas icon="arrow-left" class="mr-1"></mdb-icon>
      </button>
      <!--      </a>-->
      <button mdbBtn type="button" color="default" mdbWavesEffect>
        <mdb-icon fas icon="arrow-right" class="ml-1"></mdb-icon>
      </button>
    </div>
  </div>

</main>
<!--<table mdbTable class="z-depth-1">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th [mdbTableSort]="items" sortBy="uuid">UUID</th>-->
<!--    <th [mdbTableSort]="items" sortBy="name">Name</th>-->
<!--    <th [mdbTableSort]="items" sortBy="handle">Handle</th>-->
<!--    <th [mdbTableSort]="items" sortBy="type">Type</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let el of elements; let i = index">-->
<!--    <th scope="row">{{el.id}}</th>-->
<!--    <td>{{el.first.nick}}</td>-->
<!--    <td>{{el.last}}</td>-->
<!--    <td>{{el.handle}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
