main {
  padding-top: 3rem;
  color: #5a5a5a;
  padding-bottom: 5rem;
}
#spinner-container {
  display: flex;
  justify-content: center;
}

a {
  color: #000000;
  font-size: 120%;
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: initial;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: left;
  align-items: center;
}

p#foo {
  white-space: pre;
}

div#for {
  padding-bottom: 1px;
}

/*
mat-form-field {
  margin-right: 12px;
}

.mat-grid-tile .mat-figure {
  justify-content: left !important;
  align-items: flex-start !important;
}
*/


/*.mat-expansion-panel-header-title {
  flex: 0 0 auto; !* make this not grow or shrink *!
  margin-right: 16px;
}

.mat-expansion-panel-header-description {
  flex: 1 1 auto; !* make this grow and shrink *!
  min-width: 0; !* see link to see why this is needed *!
  margin-right: 16px;
}

.mat-expansion-panel-header-description > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

mat-form-field {
  margin-right: 50px;
}

.mat-tab-group {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}*/
