<app-nav></app-nav>
<main role="main" class="container">

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div id="spinner-container" *ngIf="loading else loaded">
      <mat-spinner style="align-content: center; height: 5%; alignment: center"></mat-spinner>
    </div>
    <ng-template #loaded>
      <mat-accordion class="example-headers-align" *ngIf="resultFromSearch">
        <div *ngFor="let eli of resultFromSearch.items">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="mat-expansion-panel-header-title">
                <div><a [routerLink]="['/itemsdetail', eli.uuid]">{{eli.name}}</a></div>
              </mat-panel-title>
              <mat-panel-description class="mat-expansion-panel-header-description">
                <div *ngFor="let elj of eli.metadata">
                  <div *ngIf="elj.key === 'dc.creator' || elj.key === 'dc.contributor.author'">
                    {{elj.value}}
                  </div>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-grid-list cols="4" rowHeight="3:1">
              <mat-grid-tile [colspan]=1 [rowspan]=3>
                <div *ngFor="let elj of eli.bitstream">
                  <div *ngIf=" elj.format==='image/png' || elj.description==='cover'">
                    <img src="http://localhost:8080{{elj.retrieveLink}}">
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]=3 [rowspan]=3>
                <mat-tab-group>
                  <mat-tab label="Autor">
                    <div *ngFor="let elj of eli.metadata">
                      <div *ngIf="elj.key === 'dc.creator' || elj.key === 'dc.contributor.author'">
                        {{elj.value}}
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="Descrição">
                    <div *ngFor="let elj of eli.metadata">
                      <div *ngIf="elj.key === 'dc.description' || elj.key === 'dc.description.abstract'">
                        {{elj.value}}
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </ng-template>
  </div>
</main>
