<app-nav></app-nav>
<main role="main">
  <div class="container marketing">
    <hr class="featurette-divider" />
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <mdb-card-img
          src="../../assets/{{ News.Image }}"
          alt="Card image cap"
        ></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <mdb-card-body>
        <mdb-card-title>
          <p class="card-text">
            {{ News.Date | date: "dd/MM/yyyy" }}
          </p>
          <h4>{{ News.Title }}</h4>
          <hr />
        </mdb-card-title>
        <mdb-card-text>
          <h6 class="font-weight-bold indigo-text py-2">
            {{ News.Short_description }}
          </h6>
          <p>{{ News.Content }}</p>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
    <hr class="featurette-divider" />
    <a
      [routerLink]="['/noticias']"
      mdbBtn
      color="primary"
      class="waves-light"
      mdbWavesEffect
      >Voltar
    </a>

    <hr class="featurette-divider"/>
    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&middot; &copy; 2019 Antropologia Portuguesa &middot;</p>
  </footer>
</main>
<app-footer></app-footer>
