<!--Navbar-->
<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark unique-color"
  [containerInside]="false"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand
  ><a class="navbar-brand" routerLink="/"
  >ANTROPOLOGIA PORTUGUESA</a
  ></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLinkActive]="['active']"
        class="nav-item"
      >
        <a class="nav-link waves-light" routerLink="/">Home</a>
      </li>
      <li
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLinkActive]="['active']"
        class="nav-item"
      >
        <a class="nav-link waves-light" routerLink="/communities">Listagem</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link waves-light" routerLink="/noticias">Notícias</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link waves-light" routerLink="/eventos">Eventos</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a
          class="nav-link dropdown-toggle waves-light"
          dropdownToggle
          mdbWavesEffect
          type="button"
        >
          Categorias<span class="caret"></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary"
          role="menu"
        >
          <a
            (click)="onClickSubmit('Antropologia Cultural')"
            class="dropdown-item waves-light"
            mdbWavesEffect
          >Antropologia Cultural</a
          >
          <a
            (click)="onClickSubmit('Etnografia')"
            class="dropdown-item waves-light"
            mdbWavesEffect
          >Etnografia</a
          >
          <a
            (click)="onClickSubmit('Antropologia da Religião')"
            class="dropdown-item waves-light"
            mdbWavesEffect
          >Antropologia da Religião</a
          >
          <!--<div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="">Separated link</a>-->
        </div>
      </li>
    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form
      (ngSubmit)="onClickSubmit(navForm)"
      [formGroup]="navForm"
      mdbWavesEffect>
      <mat-form-field>
        <input
          [(ngModel)]="value"
          formControlName="anyTermNav"
          matInput
          maxlenght="25"
          minlength="4"
          placeholder="Procurar"
          type="text"
        />
        <button (click)="value = ''" *ngIf="value" aria-label="Clear" mat-button mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
