<!--Navbar-->
<mdb-navbar
  SideClass="navbar fixed-top navbar-expand-lg navbar-dark unique-color"
  [containerInside]="false"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand
  ><a class="navbar-brand" routerLink="/"
  >ANTROPOLOGIA PORTUGUESA</a
  ></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLinkActive]="['active']"
        class="nav-item"
      >
        <a class="nav-link waves-light" routerLink="/">Home</a>
      </li>
      <li
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLinkActive]="['active']"
        class="nav-item"
      >
        <a class="nav-link waves-light" routerLink="/communities">Listagem</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link waves-light" routerLink="/revistas">Revistas</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link waves-light" routerLink="/centros">Centros de Investigação e Instituições</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link waves-light" routerLink="/noticias">Notícias</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link waves-light" routerLink="/eventos">Eventos</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto">
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle waves-light" dropdownToggle mdbWavesEffect type="button">
          <mdb-icon fas icon="user"></mdb-icon>
          Perfil<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="admin/login">Minha conta</a>
          <!--          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>-->
        </div>
      </li>

    </ul>
    <!-- Search form -->
    <!--    <form-->
    <!--      (ngSubmit)="onClickSubmit(navForm)"-->
    <!--      [formGroup]="navForm"-->
    <!--      mdbWavesEffect>-->
    <!--      <mat-form-field>-->
    <!--        <input-->
    <!--          [(ngModel)]="value"-->
    <!--          formControlName="anyTermNav"-->
    <!--          matInput-->
    <!--          placeholder="Procurar"-->
    <!--          type="text"-->
    <!--        />-->
    <!--        <button (click)="value = ''" *ngIf="value" aria-label="Clear" mat-button mat-icon-button matSuffix>-->
    <!--          <mat-icon>close</mat-icon>-->
    <!--        </button>-->
    <!--      </mat-form-field>-->
    <!--    </form>-->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
