<app-nav></app-nav>
<main role="main" class="container">

  <div class="my-3 p-3 bg-white rounded shadow-sm" *ngIf="communities">
    <div id="spinner-container" *ngIf="loading else loaded">
      <mat-spinner style="align-content: center; height: 5%; alignment: center"></mat-spinner>
    </div>
    <ng-template #loaded>
      <table id="tableSortExample" mdbTable class="z-depth-1">
        <thead>
        <tr>
          <th [mdbTableSort]="communities" sortBy="uuid">UUID</th>
          <th [mdbTableSort]="communities" sortBy="name">Name</th>
          <th [mdbTableSort]="communities" sortBy="handle">Handle</th>
          <th [mdbTableSort]="communities" sortBy="type">Type</th>
          <th [mdbTableSort]="communities" sortBy="countItems">Nº Items</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let el of communities; let i = index">
          <th scope="row">{{el.uuid}}</th>
          <td>
            <a [routerLink]="['/collections', el.uuid]">{{el.name}}</a>
          </td>
          <td>{{el.handle}}</td>
          <td>{{el.type}}</td>
          <td>{{el.countItems}}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </div>

</main>
