<app-nav></app-nav>
<main role="main">
  <div class="container marketing">
    <hr class="featurette-divider" />
    <!-- START THE FEATURETTES -->
    <div *ngIf="News != null; else emptyNews">
      <mdb-card *ngFor="let new of News">
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/{{ new.Image }}"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <h4>{{ new.Title }}</h4>
          </mdb-card-title>
          <hr />
          <mdb-card-text>
            {{ new.Short_description }}
          </mdb-card-text>
        </mdb-card-body>
        <mdb-card-footer class="mdb-color lighten-3">
          <ul class="list-unstyled list-inline font-small mt-3">
            <li class="list-inline-item pr-2 white-text">
              <mdb-icon far icon="clock" class="pr-1"></mdb-icon
              >{{ new.Date | date: "dd/MM/yyyy" }}
            </li>
            <li class="list-inline-item pr-2">
              <a
                [routerLink]="['/noticias', new.Id]"
                mdbBtn
                color="primary"
                class="waves-light"
                mdbWavesEffect
                >Ler mais...
              </a>
            </li>
          </ul>
        </mdb-card-footer>
      </mdb-card>
    </div>
    <ng-template #emptyNews>
      <p>Não existem notícias.</p>
    </ng-template>

    <hr class="featurette-divider" />
    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&middot; &copy; 2019 Antropologia Portuguesa &middot;</p>
  </footer>
</main>
