<app-nav></app-nav>
<main class="container" role="main">

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div *ngFor="let el of itemsDetailsBitstream;">
            <div *ngIf="el.bundleName === 'ORIGINAL' &&  el.format!=='Adobe PDF'">
              <img src="http://localhost:8080{{el.retrieveLink}}">
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div *ngFor="let el of itemsDetails;">
            <div *ngIf=" el.key==='dc.title'">
              <h2>{{el.value}}</h2>
            </div>
            <div *ngIf=" el.key==='dc.title.alternative'">
              <h6>{{el.value}}</h6>
            </div>
          </div>
          <div *ngFor="let el of itemsDetailsBitstream;">
            <div *ngIf="el.format==='Adobe PDF'">
              <a href="http://localhost:8080{{el.retrieveLink}}">
                <button class="btn btn-light" type="button">Download ficheiro</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <table *ngFor="let el of itemsDetails;" class="table">
        <tbody>
        <tr *ngIf=" el.key==='dc.date.issued'">
          <th class="w-25" scope="row">Data</th>
          <td>{{el.value}}</td>
        </tr>
        <tr *ngIf="el.key==='dc.creator'  || el.key==='dc.contributor.author'">
          <th class="w-25" scope="row">Autor</th>
          <td>{{el.value}}</td>
        </tr>
        <tr *ngIf=" el.key==='dc.identifier.isbn'">
          <th class="w-25" scope="row">ISBN</th>
          <td>{{el.value}}</td>
        </tr>
        <tr *ngIf=" el.key==='dc.identifier.issn'">
          <th class="w-25" scope="row">ISSN</th>
          <td>{{el.value}}</td>
        </tr>
        <tr *ngIf=" el.key==='dc.identifier.govdoc'">
          <th class="w-25" scope="row">Número do governo</th>
          <td>{{el.value}}</td>
        </tr>
        <tr *ngIf=" el.key==='dc.identifier.other'">
          <th class="w-25" scope="row">Outro codígo</th>
          <td>{{el.value}}</td>
        </tr>
        <tr *ngIf=" el.key==='dc.publisher'">
          <th class="w-25" scope="row">Outro codígo</th>
          <td>{{el.value}}</td>
        </tr>
        <tr *ngIf=" el.key==='dc.description.abstract'">
          <th class="w-25" scope="row">Abstrato</th>
          <td>{{el.value}}</td>
        </tr>
        <tr *ngIf=" el.key==='dc.description'">
          <th class="w-25" scope="row">Descrição</th>
          <td>{{el.value}}</td>
        </tr>
        <tr *ngIf=" el.key==='dc.identifier.citation'">
          <th class="w-25" scope="row">Citação</th>
          <td>{{el.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--
    <div class="row">
      <div class="col-sm-12" *ngFor="let el of itemsDetails;">
        <div *ngIf=" el.key==='dc.description'">
          <h3>Descrição: </h3>
          <h5>{{el.value}}</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" *ngFor="let el of itemsDetails;">
        <div *ngIf=" el.key==='dc.identifier.citation'">
          <h3>Citação: </h3>
          <h5>{{el.value}}</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" *ngFor="let el of itemsDetails;">
        <div *ngIf=" el.key==='dc.description.abstract'">
          <h3>Mais informações: </h3>
          <h5>{{el.value}}</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" *ngFor="let el of itemsDetailsBitstream;">
        <div *ngIf=" el.format==='Adobe PDF'">
          <h3>Ficheiro: <a href="http://localhost:8080{{el.retrieveLink}}">{{el.description}}</a></h3>
        </div>
      </div>
    </div>
  </div>
  </div>-->
</main>
<app-footer></app-footer>
