<main role="main" class="container">

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-8" *ngFor="let el of itemsDetails;">
          <div *ngIf=" el.key==='dc.title'">
            <h1>Título: </h1>
            <h2>{{el.value}}</h2>
          </div>
        </div>
        <div class="col-md-4" *ngFor="let el of itemsDetails;">
          <div *ngIf=" el.key==='dc.date.issued'">
            <h3>Data: </h3>
            <h6>{{el.value}}</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" *ngFor="let el of itemsDetails;">
          <div *ngIf=" el.key==='dc.description'">
            <h3>Descrição: </h3>
            <h5>{{el.value}}</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" *ngFor="let el of itemsDetails;">
          <div *ngIf=" el.key==='dc.description.abstract'">
            <h3>Mais informações: </h3>
            <h5>{{el.value}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
