<app-nav></app-nav>
<main role="main" class="container">

  <div class="my-3 p-3 bg-white rounded shadow-sm" *ngIf="items">
    <div id="spinner-container" *ngIf="loading else loaded">
      <mat-spinner style="align-content: center; height: 5%; alignment: center"></mat-spinner>
    </div>
    <ng-template #loaded>
      <h3>{{this.data}}</h3>
      <table id="tableSortExample" mdbTable class="z-depth-1">
        <thead>
        <tr>
          <th [mdbTableSort]="items" sortBy="items.uuid">UUID</th>
          <th [mdbTableSort]="items" sortBy="items.name">Name</th>
          <th [mdbTableSort]="items" sortBy="items.type">Type</th>
        </tr>
        <!--      <tr>-->
        <!--        <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="items" [sortBy]="headElements[i]">{{head | titlecase}}-->
      <!--      </tr>-->
      </thead>
      <tbody>
      <tr *ngFor="let el of items; let i = index">
        <!--      <tr mdbTableCol *ngFor="let el of items">-->
        <th scope="row">{{el.uuid}}</th>
        <td>
          <a [routerLink]="['/itemsdetail', el.uuid]">{{el.name}}</a>
        </td>
        <td>{{el.type}}</td>
      </tr>
      </tbody>
      </table>
    </ng-template>
    <div>
      <!--      <a [routerLink]="{actualPage: }">-->
      <button mdbBtn type="button" color="primary" mdbWavesEffect>
        <mdb-icon fas icon="arrow-left" class="mr-1"></mdb-icon>
      </button>
      <!--      </a>-->
      <button mdbBtn type="button" color="default" mdbWavesEffect>
        <mdb-icon fas icon="arrow-right" class="ml-1"></mdb-icon>
      </button>
    </div>
  </div>

</main>
<app-footer></app-footer>

