<app-nav></app-nav>
<main role="main">
  <mdb-carousel
    *ngIf="News != null"
    [animation]="'fade'"
    class="carousel slide carousel-fade"
  >
    <mdb-carousel-item>
      <div class="view">
        <video autoplay class="video-fluid" loop>
          <source
            src="https://mdbootstrap.com/img/video/Lines.mp4"
            type="video/mp4"
          />
        </video>
        <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
      </div>

      <div class="carousel-caption">
        <div class="animated fadeInDown">
          <h3 class="h3-responsive">Bem vindo à Antropologia</h3>
          <p>Antropologia Portuguesa</p>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item *ngFor="let new of News">
      <div class="view w-100">
        <img
          alt="First slide"
          class="d-block w-100"
          src="../../assets/{{ new.Image }}"
        />
        <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{ new.Title }}</h3>
        <p>{{ new.Short_description }}</p>
        <a
          [routerLink]="['noticias', new.Id]"
          class="waves-light"
          color="primary"
          mdbBtn
          mdbWavesEffect
        >Ler mais...
        </a>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- START THE FEATURETTES -->

    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">
          <span class="text-muted">Descobre a</span> Antropologia Portuguesa
        </h2>
      </div>
      <div class="col-md-12">
        <form [formGroup]="searchForm" (ngSubmit)="onClickSubmit(searchForm)" class="myForm">
          <div class="form-group row">
            <div class="col-sm-12">
              <mat-form-field class="example-container">
                <input [(ngModel)]="value" formControlName="any" matInput placeholder="Pesquisar em todo o repositorio"
                       type="search"/>
                <button (click)="value = ''" *ngIf="value" aria-label="Clear" mat-button mat-icon-button matSuffix>
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-container">
                <input [(ngModel)]="value1" formControlName="title" matInput placeholder="Pesquisar por título"
                       type="search"/>
                <button (click)="value1 = ''" *ngIf="value1" aria-label="Clear" mat-button mat-icon-button matSuffix>
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-container">
                <input [(ngModel)]="value2" formControlName="author" matInput placeholder="Pesquisar por autor"
                       type="search"/>
                <button (click)="value2 = ''" *ngIf="value2" aria-label="Clear" mat-button mat-icon-button matSuffix>
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" type="submit">Pesquisar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <hr class="featurette-divider"/>
    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&middot; &copy; 2019 Antropologia Portuguesa &middot;</p>
  </footer>
</main>
