<app-nav></app-nav>
<main role="main">
  <mdb-carousel
    class="carousel slide carousel-fade"
    [animation]="'fade'"
    *ngIf="News != null || Events != null"
  >
    <mdb-carousel-item>
      <div class="view">
        <video class="video-fluid" autoplay loop>
          <source
            src="https://mdbootstrap.com/img/video/Lines.mp4"
            type="video/mp4"
          />
        </video>
        <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
      </div>

      <div class="carousel-caption">
        <div class="animated fadeInDown">
          <h3 class="h3-responsive">Bem vindo à Antropologia</h3>
          <p>Antropologia Portuguesa</p>
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item *ngFor="let new of News">
      <div class="view w-100">
        <img
          class="d-block w-100"
          src="../../assets/{{ new.Image }}"
          alt="First slide"
        />
        <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{ new.Title }}</h3>
        <p>{{ new.Short_description }}</p>
        <a
          [routerLink]="['noticias', new.Id]"
          mdbBtn
          color="primary"
          class="waves-light"
          mdbWavesEffect
          >Ler mais
        </a>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item *ngFor="let event of Events">
      <div class="view w-100">
        <img
          class="d-block w-100"
          src="../../assets/{{ event.Image }}"
          alt="First slide"
        />
        <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{ event.Title }}</h3>
        <p>{{ event.Short_description }}</p>
        <button
          mdbBtn
          type="button"
          class="btn-block"
          color="default"
          mdbWavesEffect
        >
          <h5><span class="badge badge-default">Início</span></h5>
          {{ event.Date_start | date: "dd/MM/yyyy" }} -
          {{ event.Time_start }}
        </button>
        <button
          mdbBtn
          type="button"
          class="btn-block"
          color="mdb-color"
          mdbWavesEffect
        >
          <h5><span class="badge badge-default">Fim</span></h5>
          {{ event.Date_end | date: "dd/MM/yyyy" }} -
          {{ event.Time_end }}
        </button>
        <a
          [routerLink]="['eventos', event.Id]"
          mdbBtn
          color="primary"
          class="waves-light"
          mdbWavesEffect
          >Saber mais
        </a>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- START THE FEATURETTES -->

    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">
          <span class="text-muted">Descobre a</span> Antropologia Portuguesa
        </h2>
      </div>
      <div class="col-md-12">
        <form [formGroup]="searchForm" (ngSubmit)="onClickSubmit()">
          <div class="form-group row">
            <div class="col-sm-4">
              <mat-form-field class="example-container">
                <mat-label>Campo a pesquisar</mat-label>
                <mat-select [(value)]="selectedValue">
                  <mat-option
                    *ngFor="let category of categories"
                    [value]="category.value"
                  >
                    {{ category.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-container">
                <input
                  matInput
                  type="search"
                  placeholder="Introduza o termo a pesquisar"
                  formControlName="termo"
                />
                <button
                  mat-button
                  *ngIf="value"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="value = ''"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-sm-2">
              <button class="btn btn-primary" (click)="onClickSubmit()">
                Pesquisar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&middot; &copy; 2019 Antropologia Portuguesa &middot;</p>
  </footer>
</main>
