<app-nav></app-nav>
<main role="main" class="container">

  <div *ngIf="collections">
    <div id="spinner-container" *ngIf="loading else loaded">
      <mat-spinner style="align-content: center; height: 5%; alignment: center"></mat-spinner>
    </div>
    <ng-template #loaded>
      <h3>Coleções</h3>
      <mat-accordion class="example-headers-align" *ngFor="let el of collections">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a [routerLink]="['/items-list', el.uuid]">{{el.name}}</a>
            </mat-panel-title>
            <mat-panel-description>
              Items: {{el.numberItems}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          Descrição: {{el.shortDescription}}
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </div>
</main>
<app-footer></app-footer>
